<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carros Cadastrados</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Carros Cadastrados</h2>

        <table>
            <thead>
                <tr>
                    <th>Foto</th> <!-- Coluna para Foto -->
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Ano</th>
                    <th>Placa</th>
                    <th>Cor</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for carro in carros %}
                    <tr>
                        <td>
                            {% if carro.foto %}
                                <img src="{{ url_for('static', filename='imagens/' + carro.foto) }}" alt="Foto do Carro" style="max-width: 100px;">
                            {% else %}
                                <p>Sem Foto</p>
                            {% endif %}
                        </td>
                        
                        <td>{{ carro.marca }}</td>
                        <td>{{ carro.modelo }}</td>
                        <td>{{ carro.ano }}</td>
                        <td>{{ carro.placa }}</td>
                        <td>{{ carro.cor }}</td>
                        <td>
                            <!-- Link para visualizar os detalhes do carro -->
                            <a href="{{ url_for('visualizar_detalhes', index=loop.index0) }}" class="btn-visualizar">
                                <i class="fas fa-eye"></i> Visualizar
                            </a>

                            <!-- Formulário para apagar o carro -->
                            <form action="{{ url_for('apagar', index=loop.index0) }}" method="POST" style="display:inline;">
                                <button type="submit" class="btn-apagar">
                                    <i class="fas fa-trash"></i> Apagar
                                </button>
                            </form>

                            <!-- Link para editar o carro -->
                            <a href="{{ url_for('editar', index=loop.index0) }}" class="btn-editar">
                                <i class="fas fa-edit"></i> Editar
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Link para cadastrar um novo carro -->
        <a href="/">Cadastrar Novo Carro</a>
    </div>
</body>
</html>
